$chat_black_dark: #333333;
$chat_black_light: #999999;
$chat_text: #434a54;
$side_white_dark: #d2d2d2;
$side_white_light: #fafafa;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;

$flash_notice: #38AEF0;
$flash_alert: #F35500;
