.chat-main {
  width: calc(100vw - 300px);
  display: inline-block;
  vertical-align: top;
  .header {
    background-color: white;
    height: 100px;
    padding: 0px 40px;
    .left-header {
      float: left;
      &__title {
        color: $chat_black_dark;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        color: $chat_black_light;
        font-size: 12px;
        margin-top: 15px;
        display: flex;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      height: 40px;
      width: 72px;
      margin-top: 28px;
      &__button {
        color: $light_blue;
        font-size: 16px;
        line-height: 40px;
        padding: 0px 20px;
      }
    }
  }
  .messages {
    background-color: $side_white_light;
    height: calc(100vh - 190px);
    padding: 35px 40px 0;
    .message {
      .upper-message {
        display: flex;
        padding-bottom: 12px;
        &__user-name {
          color: $chat_black_dark;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $chat_black_light;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        &__content {
          color: $chat_text;
          font-size: 14px;
          margin-bottom: 46px;
        }
      }
    }
  }
  .form {
    background-color: $side_white_dark;
    height: 90px;
    padding: 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 160px);
    }
    &__mask {
      background-color: white;
      float: left;
      height: 50px;
      padding: 0px 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
        .hidden {
          display: none;
        }
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}
