.side-bar {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $side_blue_dark;
    height: 100px;
    padding: 0px 20px;
    &__name {
      color: white;
      font-size: $side_header_font;
      font-weight: bold;
    }
    &__lists {
      display: flex;
      justify-content: flex-end;
      width: 80px;
      .list {
        display: inline-block;
        padding-left: 5px;
      }
      .icon {
        color: white;
        font-size: $side_header_font;
      }
    }
  }
  .groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 0px 20px;
    .group {
      padding: 20px 0 40px;
      color: white;
      &__name {
        font-size: $side_group_name;
        font-weight: bold;
      }
      &__message {
        font-size: $side_group_message;
        font-weight: bold;
        margin-top: 5px;
      }
    }
  }
}
